.kanban-board {
  background-size: cover;
  background-position: center;
}
.plus_container {
  display: flex;
  justify-content: flex-end;
}
.cross-to-plus {
  transform: rotate(45deg);
}
.dropdown-toggle::after {
  display: none !important;
}
.changing-color {
  color: aliceblue !important;
}